/*
-------------------------------------------------------------------
Late Blooming Effects Studio website page stylesheet
-------------------------------------------------------------------
*/
a				{
					color:#FFFFFF;
					text-decoration:none;
				}

body			{
					background-color:#00004F;
				}

button			{
					background-color:#008FFF;
					border-radius:10px;
					color:#FFFFFF;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
				}					

h1				{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:28px;
					margin:0px 155px;
					padding:1px 25px;
					position:relative;
					width:430px;
					top:10px;
				}

h2				{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:22px;
					margin:0px 155px;
					padding:1px 150px;
					position:relative;
					width:180px;
					top:20px;
				}

h3				{
					margin:0px;
					padding:0px;
				}	
li				{
					display:none;
					list-style-type:none;
				}

p				{
					font-size:14px;
				}

#bookChapter1	{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					margin:0px 103px;
					padding:3px 0px;
					width:600px;
				}

#bookChapter1:hover	#page1	{
								bottom:5px;
								display:block;
							}
#page1:hover .pBackground 	{
								display:block;
								margin:0px -4px;
								margin-top:1px;
								z-index:3;
							}
#page1:hover .paragraph		{
								display:block;
							}
#bookChapter1:hover #page2	{
								margin-bottom:3px;
								display:block;
							}
#page2:hover .pBackground 	{
								display:block;
								margin:0px -4px;
								margin-top:2px;
								z-index:3;
							}
#page2:hover .paragraph		{
								display:block;
							}
#bookList		{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:12.3px;
					margin:0px 155px;
					padding:2px 10px;
					position:relative;
					top:50px;
					width:460px;
				}

#bookMessage	{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:12.3px;
					margin:0px 155px;
					padding:2px 46px;
					position:relative;
					top:45px;
					width:390px;
				}

#bookName		{
					display:inline block;
					font-size:12.3px;
					left:81px;
					position:relative;
					top:-28px;
					width:250px;
				}

#bookNo			{
					display:inline block;
					font-size:12.3px;
					position:relative;
					width:80px;
				}

#bookPageUpdate	{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:12.3px;
					margin:0px 155px;
					padding:2px 46px;
					position:relative;
					top:45px;
					width:390px;
				}

#bookProgress	{
					display:inline block;
					left:332px;
					position:relative;
					top:-56px;
					width:130px;
				}

#bookNav		{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					margin-left:400px;
					margin-top:4px;
					position:absolute;
					width:234px;
				}

#bookNav:hover li	{
						display:block;
					}

#bookTitle		{
					margin:0px 135px;
					padding:1px 10px;
					width:500px;
				}

#bookUpdate		{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					height:130px;
					margin:0px 155px;
					padding:0px 10px;
					position:relative;
					top:50px;
					width:460px;
				}

#bookPageUpdate	{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					height:110px;
					margin:0px 155px;
					padding:0px 10px;
					position:relative;
					top:55px;
					width:460px;
				}

.paragraph		{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:none;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:12.3px;
					margin:4px 8px;
					padding:2px 20px;
					position:relative;
					top:-4px;
				}

.copyright		{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:13.3px;
					margin:0px 155px;
					padding:0px 10px;
					position:relative;
					top:16px;
					width:460px;
				}

#gameList		{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:12.3px;
					margin:0px 155px;
					padding:2px 10px;
					position:relative;
					top:50px;
					width:460px;
				}

#gameMessage	{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:12.3px;
					margin:0px 155px;
					padding:2px 34px;
					position:relative;
					top:45px;
					width:415px;
				}

#gameNav		{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					margin-left:155px;
					margin-top:4px;
					position:absolute;
					width:234px;
				}

#gameNav:hover li	{
						display:block;
					}

#gamePageUpdate	{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					height:110px;
					margin:0px 155px;
					padding:0px 10px;
					position:relative;
					top:55px;
					width:460px;
				}

#gameUpdate		{
					background-color:#004FCC;
					border-radius:10px;
					color:#FFFFFF;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					height:130px;
					margin:0px 155px;
					padding:0px 10px;
					position:relative;
					top:50px;
					width:460px;
				}

#menuLink		{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:13px;
					margin:0px 155px;
					padding:2px 10px;
					position:relative;
					top:60px;
					width:460px;
				}
#page1			{
					background-color:#0000F0;
					border-radius:10px;
					display:none;
					color:#FFFFFF;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					height:20px;
					margin:0px 5px;
					margin-bottom:-2px;
					margin-top:2px;
					position:relative;
					width:590px;
					z-index:3;
				}
#page2			{
					background-color:#0000F0;
					border-radius:10px;
					display:none;
					color:#FFFFFF;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:14px;
					height:20px;
					margin:0px 5px;
					margin-bottom:-2px;
					margin-top:1px;
					position:relative;
					width:590px;
					z-index:0;
				}
.pBackground	{
					background-color:#0000F0;
					border-radius:10px;
					display:none;
					height:350px;
					margin:0px -0px;
					overflow-y:scroll;
					width:599px;
					
				}
.webFooter		{	
					background-color:#004FFF;
					border-bottom-left-radius:10px;
					border-bottom-right-radius:10px;
					display:inline block;
					height:50px;
					margin:0px 255px;
					margin-top:2px;
					position:relative;
					text-align:center;
					top:-2px;
					width:800px;
				}

.webHeader		{
					background-color:#004FFF;
					border-top-left-radius:10px;
					border-top-right-radius:10px;
					display:inline block;
					height:100px;
					margin:0px 255px;
					text-align:center;
					position:relative;
					width:800px;
					top:2px;
				}

.webSection		{
					background-color:#004FFF;
					display:inline block;
					height:400px;
					margin:0px 255px;
					margin-top:2px;
					text-align:center;
					width:800px;
				}

#welcomeMessage	{
					background-color:#004FCC;
					color:#FFFFFF;
					border-radius:10px;
					display:inline block;
					font-family:"Lucida Calligraphy","Brush Script MT","Lucida Handwriting",cursive;
					font-size:12.3px;
					margin:0px 155px;
					padding:2px 10px;
					position:relative;
					top:45px;
					width:460px;
				}
				